<app-header></app-header>
<div class="wrapper">
  <div class="">
    <app-sidebar></app-sidebar>

    <main class="main">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <div class="tile is-parent">
            <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
              <p class="title">ข้อมูลการรักษา</p>
              <p class="subtitle">ข้อมูลผู้ป่วย</p>
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสบัตรผู้ป่วย</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <label class="label">CID00003</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสบัตรประชาชน</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-left">
                        <label class="label">CID00003</label>
                      </p>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">ชื่อ - นามสกุล</label>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-left has-icons-right">
                        <label class="label">สม ใจ</label>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">วันเดือนปีเกิด</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <label class="label">2019-05-13</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสอาการเบื้องต้นของผู้ป่วย</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <label class="label">P00017</label>
                      </div>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">รหัสการรักษา</label>
                    </div>
                    <div class="field">
                      <div class="control is-expanded has-icons-left has-icons-right">
                        <label class="label">R00014</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสการจ่ายยา</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <label class="label">PP00050</label>
                      </div>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">รหัสการนัดหมาย</label>
                    </div>
                    <div class="field">
                      <div class="control is-expanded has-icons-left has-icons-right">
                        <label class="label">A00026</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสชำระเงิน</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <label class="label">Pay00021</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child notification is-light">
                    <p class="title">ค่าใช้จ่ายรวม</p>
                    <!-- <p class="subtitle">รับเงิน</p> -->
                    <div class="content">
                      <!-- Content -->
                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">รับเงิน</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <div class="control">
                              <input class="input" type="text" placeholder="e.g. Partnership opportunity">
                            </div>
                          </div>
                          <div class="field-label is-normal">
                            <label class="label">บาท</label>
                          </div>
                        </div>
                      </div>

                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">รวมทั้งสิ้น</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <div class="control">
                              <label class="label">3000.00</label>
                            </div>
                          </div>
                          <div class="field-label is-normal">
                            <label class="label">บาท</label>
                          </div>
                        </div>
                      </div>

                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">เงินทอน</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <div class="control">
                              <label class="label">2000.00</label>
                            </div>
                          </div>
                          <div class="field-label is-normal">
                            <label class="label">บาท</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                </div>


                <!-- <div class="field is-horizontal">
                  <div class="field-label"></div>
                  <div class="field-body">
                    <div class="field is-expanded">
                      <div class="field has-addons">
                        <p class="control">
                          <a class="button is-static">
                            +44
                          </a>
                        </p>
                        <p class="control is-expanded">
                          <input class="input" type="tel" placeholder="Your phone number">
                        </p>
                      </div>
                      <p class="help">Do not enter the first zero</p>
                    </div>
                  </div>
                </div> -->

                <div class="field is-horizontal">
                  <div class="field-label">
                    <!-- Left empty for spacing -->
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="buttons">
                          <button class="button is-primary">Send message</button>
                          <button class="button is-while">Link</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
            <div class="content">
              <p class="title">รายชื่อผู้ป่วย</p>
              <!-- <p class="subtitle">With even more content</p> -->
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">โรคประจำตัว</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Your email">
                      </p>
                      <p class="control">
                        <button class="button is-primary">
                          ค้นหา
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
                <table class="table table is-striped table is-hoverable">
                  <thead>
                    <tr>
                      <th><abbr title="Position">รหัส</abbr></th>
                      <th>ชื่อยา</th>
                      <th><abbr title="Played">จำนวน</abbr></th>
                      <th>ราคา/ชิ้น</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><abbr title="Position">รหัส</abbr></th>
                      <th>ชื่อยา</th>
                      <th><abbr title="Played">จำนวน</abbr></th>
                      <th>ราคา/ชิ้น</th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td>
                        <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                      </td>
                      <td>38</td>
                      <td>38</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>1</th>
                      <td>
                        <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                      </td>
                      <td>38</td>
                      <td>38</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>

    </main>
  </div>
</div>
