<app-header></app-header>
<div class="wrapper">
  <div class="">
    <app-sidebar></app-sidebar>

    <main class="main">

      <div [formGroup]="preliminaryForm" class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <div class="tile is-parent">
            <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
              <p class="title">อาการเบื้องต้นของผู้ป่วย</p>
              <p class="subtitle">ข้อมูลผู้ป่วย</p>
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสอาการเบื้องต้นของผู้ป่วย</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" formControlName="preliminaryid" placeholder="PreliminaryID">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสบัตรผู้ป่วย</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" formControlName="cardid" placeholder="Card ID">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสบัตรประชาชน</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="e.g. Partnership opportunity">
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ชื่อ</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-right">
                        <input class="input" type="text" formControlName="firstname" placeholder="Firstname">
                      </div>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">นามสกุล</label>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <input class="input" type="text" formControlName="lastname" placeholder="Lastname">
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">วันเดือนปีเกิด</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="date" formControlName="birthday" placeholder="Birthday">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">เพศ</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Email" value="alex@smith.com">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">กรุ๊ป</label>
                    </div>
                    <div class="field">
                      <div class="control is-expanded has-icons-left has-icons-right">
                        <div class="select">
                          <select>
                            <option>Select dropdown</option>
                            <option>With options</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ที่อยู่</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <textarea class="textarea" formControlName="address" placeholder="Address"></textarea>
                      </div>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">แพ้ยา</label>
                    </div>
                    <div class="field">
                      <div class="control is-expanded has-icons-left has-icons-right">
                        <textarea class="textarea" formControlName="allergic" placeholder="Allergic"></textarea>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- <div class="field is-horizontal">
                  <div class="field-label"></div>
                  <div class="field-body">
                    <div class="field is-expanded">
                      <div class="field has-addons">
                        <p class="control">
                          <a class="button is-static">
                            +44
                          </a>
                        </p>
                        <p class="control is-expanded">
                          <input class="input" type="tel" placeholder="Your phone number">
                        </p>
                      </div>
                      <p class="help">Do not enter the first zero</p>
                    </div>
                  </div>
                </div> -->

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">เบอร์โทรศัพท์</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" formControlName="tel" placeholder="Tel">
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">โรคประจำตัว</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
            <div class="content">
              <p class="title">รายละเอียดการบันทึกอาการเบื้องต้น</p>
              <!-- <p class="subtitle">With even more content</p> -->
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">อาการเบื้องต้น</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <textarea class="textarea" formControlName="preliminarycondition" placeholder="Preliminary Condition"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ระยะเวลาที่เป็น</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="select">
                          <select formControlName="preliminarymemo">
                            <option *ngFor="let item of tableTime" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ผู้ที่ทำรายการ</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" formControlName="empname" placeholder="EmpName">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label">
                    <!-- Left empty for spacing -->
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left has-icons-right">
                        <div class="buttons">
                          <button class="button is-primary" (click)="insertPreliminary()">บันทึกอาการ</button>
                          <button class="button is-light">ย้อนกลับ</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </article>
        </div>
      </div>

    </main>
  </div>
</div>
