<app-header></app-header>
<div class="wrapper">
  <div class="">
    <app-sidebar></app-sidebar>

    <main class="main">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
            <div class="content">
              <p class="title">รายชื่อผู้ป่วย</p>
              <!-- <p class="subtitle">With even more content</p> -->
              <div class="content">
                <!-- Content -->
                <app-search></app-search>
                <table class="table table is-striped table is-hoverable">
                  <thead>
                    <tr>
                      <th><abbr title="Position">รหัสบัตร</abbr></th>
                      <th>ชื่อผู้ป่วย</th>
                      <th><abbr title="Played">ที่อยู่</abbr></th>
                      <th><abbr title="Won">เบอร์โทร</abbr></th>
                      <th>จัดการ</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><abbr title="Position">รหัสบัตร</abbr></th>
                      <th>ชื่อผู้ป่วย</th>
                      <th><abbr title="Played">ที่อยู่</abbr></th>
                      <th><abbr title="Won">เบอร์โทร</abbr></th>
                      <th>จัดการ</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let item of patientService.tableList; let i = index;">
                      <th>{{item.Card_ID}}</th>
                      <td>{{item.Patient_Name}}</td>
                      <td>{{item.Address}}</td>
                      <td>{{item.Tel}}</td>
                      <td>
                        <div class="buttons">
                          <a class="button is-success" [routerLink]="['/preliminary', item.Card_ID]">ใช้บริการ</a>
                          <a class="button is-info" (click)="clickPrint(i)"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์บัตร</a>
                          <a class="button is-warning"(click)="actionAddUpdateDelete('Update', item)"><i class="fas fa-edit"></i> แก้ไข</a>
                          <a class="button is-danger" (click)="actionAddUpdateDelete('Delete', item)"><i class="fas fa-trash-alt"></i> ลบ</a>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="!patientService.tableList.length">
                      <td colspan="5">No data to display.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>
      <app-print-patient-card [sentToPrint]="sentToPrint"></app-print-patient-card>

    </main>
  </div>
</div>
