<app-header></app-header>
<div class="wrapper">
  <div class="">
    <app-sidebar></app-sidebar>

    <main class="main">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <div class="tile is-parent">
            <article [formGroup]="cardPatientForm" class="tile is-child notification is-while"
              style="color: rgba(0, 0, 0, 0.7);">
              <p class="title">เพิ่มตัวแทนจำหน่าย</p>
              <p class="subtitle">กรอกข้อมูลตัวแทนจำหน่าย</p>
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ชื่อ</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['firstname'].valid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['lastname'].dirty),
                          'is-danger': cardPatientForm.controls['firstname'].invalid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)}"
                          type="text" placeholder="Firstname" formControlName="firstname">
                        <span
                          *ngIf="cardPatientForm.controls['firstname'].valid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['firstname'].invalid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['firstname'].invalid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)"
                          class="help is-danger">
                          กรุณากรอกชื่อ
                        </span>
                      </p>
                      <!-- <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" placeholder="Name" formControlName="firstname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </p> -->
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">นามสกุล</label>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['lastname'].valid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty),
                          'is-danger': cardPatientForm.controls['lastname'].invalid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)}"
                          type="text" placeholder="Lastname" formControlName="lastname">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['lastname'].valid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['lastname'].invalid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['lastname'].invalid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)"
                          class="help is-danger">
                          กรุณากรอกนามสกุล
                        </span>
                      </p>
                      <!-- <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Lastname" formControlName="lastname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                      </p> -->
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">เบอร์โทรศัพท์</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <!-- <input class="input" type="text" placeholder="Tel" formControlName="tel"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['tel'].valid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty),
                          'is-danger': cardPatientForm.controls['tel'].invalid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)}"
                          type="text" placeholder="Tel" formControlName="tel">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['tel'].valid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['tel'].invalid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['tel'].invalid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)"
                          class="help is-danger">
                          กรุณากรอกเบอร์โทรศัพท์
                        </span>
                      </p>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">อีเมล</label>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <!-- <input class="input" type="email" placeholder="Email" formControlName="email"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['email'].valid && (cardPatientForm.controls['email'].touched || cardPatientForm.controls['email'].dirty),
                            'is-danger': cardPatientForm.controls['email'].invalid && (cardPatientForm.controls['email'].touched || cardPatientForm.controls['email'].dirty)}"
                          type="email" placeholder="Email" formControlName="email">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['email'].valid && (cardPatientForm.controls['email'].touched || cardPatientForm.controls['email'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['email'].invalid && (cardPatientForm.controls['email'].touched || cardPatientForm.controls['email'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['email'].invalid && (cardPatientForm.controls['email'].touched || cardPatientForm.controls['email'].dirty && cardPatientForm.controls['email'].errors?.['required'])"
                          class="help is-danger">
                          กรุณากรอก email
                        </span>
                        <span *ngIf="cardPatientForm.controls['email'].errors?.['pattern']" class="help is-danger">
                          รูปแบบ email ไม่ถูกต้อง
                        </span>

                        <!-- <p class="control is-expanded has-icons-left has-icons-right">
                          <input class="input is-success" type="text" placeholder="Lastname" formControlName="lastname">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p> -->
                      </p>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ที่อยู่</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <!-- <textarea class="textarea" placeholder="Address" formControlName="address"></textarea> -->
                        <textarea class="textarea"
                          [ngClass]="{'is-success': cardPatientForm.controls['address'].valid && (cardPatientForm.controls['address'].touched || cardPatientForm.controls['address'].dirty),
                        'is-danger': cardPatientForm.controls['address'].invalid && (cardPatientForm.controls['address'].touched || cardPatientForm.controls['address'].dirty)}"
                          placeholder="Address" formControlName="address"></textarea>
                        <span
                          *ngIf="cardPatientForm.controls['address'].invalid && (cardPatientForm.controls['address'].touched || cardPatientForm.controls['address'].dirty)"
                          class="help is-danger">
                          กรุณากรอกที่อยู่
                        </span>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- <div class="field is-horizontal">
                  <div class="field-label"></div>
                  <div class="field-body">
                    <div class="field is-expanded">
                      <div class="field has-addons">
                        <p class="control">
                          <a class="button is-static">
                            +44
                          </a>
                        </p>
                        <p class="control is-expanded">
                          <input class="input" type="tel" placeholder="Your phone number">
                        </p>
                      </div>
                      <p class="help">Do not enter the first zero</p>
                    </div>
                  </div>
                </div> -->

                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                    <button class="button is-primary" type="submit" [disabled]="cardPatientForm.invalid"
                      (click)="clickSubmit()">
                      บันทึก
                    </button>
                  </div>
                  <div class="control">
                    <button class="button is-link is-light" [disabled]="cardPatientForm.invalid"
                      (click)="clickClear()">ยกเลิก</button>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
            <div class="content">
              <p class="title">รายชื่อตัวแทนจำหน่าย</p>
              <!-- <p class="subtitle">With even more content</p> -->
              <div class="content">
                <!-- Content -->
                <app-search></app-search>
                <table class="table table is-striped table is-hoverable">
                  <thead>
                    <tr>
                      <th><abbr title="Position">รหัสตัวแทน</abbr></th>
                      <th>ชื่อผู้ตัวแทน</th>
                      <th><abbr title="Played">เบอร์โทรศัพท์</abbr></th>
                      <th>จัดการ</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><abbr title="Position">รหัสตัวแทน</abbr></th>
                      <th>ชื่อผู้ตัวแทน</th>
                      <th><abbr title="Played">เบอร์โทรศัพท์</abbr></th>
                      <th>จัดการ</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let item of apiService.tableList; let i = index;">
                      <th>{{item.Dealer_ID}}</th>
                      <td>{{item.Dealer_Name}}</td>
                      <td>{{item.Tel}}</td>
                      <td>
                        <div class="buttons">
                          <a class="button is-warning" (click)="clickUpdate(item)"><i class="fas fa-edit"></i> แก้ไข</a>
                          <a class="button is-danger" (click)="clickDelete(item)"><i class="fas fa-trash-alt"></i> ลบ</a>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="!apiService.tableList.length">
                      <td colspan="4">No data to display.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>

    </main>
  </div>
</div>
