<app-header></app-header>
<div class="wrapper">
  <div class="">
    <app-sidebar></app-sidebar>

    <main class="main">
      <div class="tile is-vertical">
        <div class="tile is-parent">
          <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
            <div class="content">
              <p class="title">รายการอาการผู้ป่วยเบื้องต้น</p>
              <!-- <p class="subtitle">With even more content</p> -->
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Your email">
                      </p>
                      <p class="control">
                        <button class="button is-primary">
                          ค้นหา
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
                <table class="table table is-striped table is-hoverable">
                  <thead>
                    <tr>
                      <th><abbr title="Preliminary_ID">รหัสอาการเบื้องต้น</abbr></th>
                      <th>ชื่อผู้ป่วย</th>
                      <th><abbr title="Preliminary_Condition">อาการเบื้องต้น</abbr></th>
                      <th><abbr title="Emp_Name">ผู้ทำรายการ</abbr></th>
                      <th>เวลาทำรายการ</th>
                      <th>จัดการ</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><abbr title="Preliminary_ID">รหัสอาการเบื้องต้น</abbr></th>
                      <th>ชื่อผู้ป่วย</th>
                      <th><abbr title="Preliminary_Condition">อาการเบื้องต้น</abbr></th>
                      <th><abbr title="Emp_Name">ผู้ทำรายการ</abbr></th>
                      <th>เวลาทำรายการ</th>
                      <th>จัดการ</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let item of tableList">
                      <th>{{item.Preliminary_ID}}</th>
                      <td>{{item.Patient_Name}} </td>
                      <td>{{item.Preliminary_Condition}}</td>
                      <td>{{item.Emp_Name}}</td>
                      <td>{{item.Preliminary_Date}}</td>
                      <td>
                        <div class="buttons">
                          <a class="button is-info" [routerLink]="['/symptoms', item.Preliminary_ID]"><i class="fa fa-plus" aria-hidden="true"></i> รักษา</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>

    </main>
  </div>
</div>
