<app-header></app-header>
<div class="wrapper">
  <div class="">
    <app-sidebar></app-sidebar>

    <main class="main">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <div class="tile is-parent">
            <article [formGroup]="cardPatientForm" class="tile is-child notification is-while"
              style="color: rgba(0, 0, 0, 0.7);">
              <p class="title">ยาและอุปกรณ์ทางการแพทย์</p>
              <p class="subtitle">ข้อมูลผู้ป่วย</p>
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">รหัสสินค้า</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" placeholder="DrugID" formControlName="drugid">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ชื่อยาและอุปกรณ์ทางการแพทย์</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <!-- <input class="input" type="text" placeholder="DrugName" formControlName="drugname"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['drugname'].valid && (cardPatientForm.controls['drugname'].touched || cardPatientForm.controls['drugname'].dirty),
                          'is-danger': cardPatientForm.controls['drugname'].invalid && (cardPatientForm.controls['drugname'].touched || cardPatientForm.controls['drugname'].dirty)}"
                          type="text" placeholder="DrugName" formControlName="drugname">
                        <span
                          *ngIf="cardPatientForm.controls['drugname'].valid && (cardPatientForm.controls['drugname'].touched || cardPatientForm.controls['drugname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['drugname'].invalid && (cardPatientForm.controls['drugname'].touched || cardPatientForm.controls['drugname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['drugname'].invalid && (cardPatientForm.controls['drugname'].touched || cardPatientForm.controls['drugname'].dirty)"
                          class="help is-danger">
                          กรุณากรอกชื่อยาและอุปกรณ์ทางการแพทย์
                        </span>
                      </p>
                      <!-- <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" placeholder="Name" formControlName="firstname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </p> -->
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">วันที่ผลิต</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <!-- <input class="input" type="text" placeholder="MFG" formControlName="mfgdate"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['mfgdate'].valid && (cardPatientForm.controls['mfgdate'].touched || cardPatientForm.controls['mfgdate'].dirty),
                          'is-danger': cardPatientForm.controls['mfgdate'].invalid && (cardPatientForm.controls['mfgdate'].touched || cardPatientForm.controls['mfgdate'].dirty)}"
                          type="date" placeholder="MfgDate" formControlName="mfgdate">
                        <span
                          *ngIf="cardPatientForm.controls['mfgdate'].valid && (cardPatientForm.controls['mfgdate'].touched || cardPatientForm.controls['mfgdate'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['mfgdate'].invalid && (cardPatientForm.controls['mfgdate'].touched || cardPatientForm.controls['mfgdate'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['mfgdate'].invalid && (cardPatientForm.controls['mfgdate'].touched || cardPatientForm.controls['mfgdate'].dirty)"
                          class="help is-danger">
                          กรุณาเลือกวันที่ผลิต
                        </span>
                      </p>
                      <!-- <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" placeholder="Name" formControlName="firstname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </p> -->
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">วันที่หมดอายุ</label>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['expdate'].valid && (cardPatientForm.controls['expdate'].touched || cardPatientForm.controls['expdate'].dirty),
                          'is-danger': cardPatientForm.controls['expdate'].invalid && (cardPatientForm.controls['expdate'].touched || cardPatientForm.controls['expdate'].dirty)}"
                          type="date" placeholder="ExpDate" formControlName="expdate">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['expdate'].valid && (cardPatientForm.controls['expdate'].touched || cardPatientForm.controls['expdate'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['expdate'].invalid && (cardPatientForm.controls['expdate'].touched || cardPatientForm.controls['expdate'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['expdate'].invalid && (cardPatientForm.controls['expdate'].touched || cardPatientForm.controls['expdate'].dirty)"
                          class="help is-danger">
                          กรุณาเลือกวันที่หมดอายุ
                        </span>
                      </p>
                      <!-- <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Lastname" formControlName="lastname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                      </p> -->
                    </div>
                  </div>
                </div>

                <!-- <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ราคา</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['price'].valid && (cardPatientForm.controls['price'].touched || cardPatientForm.controls['price'].dirty),
                          'is-danger': cardPatientForm.controls['price'].invalid && (cardPatientForm.controls['price'].touched || cardPatientForm.controls['price'].dirty)}"
                          type="number" placeholder="Price" formControlName="price"> -->
                          <!-- <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span> -->
                          <!-- <span
                          *ngIf="cardPatientForm.controls['price'].valid && (cardPatientForm.controls['price'].touched || cardPatientForm.controls['price'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['price'].invalid && (cardPatientForm.controls['price'].touched || cardPatientForm.controls['price'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['price'].invalid && (cardPatientForm.controls['price'].touched || cardPatientForm.controls['price'].dirty)"
                          class="help is-danger">
                          กรุณากรอกราคา
                        </span>
                      </div> -->
                      <!-- <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Lastname" formControlName="lastname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                      </p> -->
                    <!-- </div>
                    <div class="field-label is-normal">
                      <label class="label">จำนวน</label>
                    </div>
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['quantity'].valid && (cardPatientForm.controls['quantity'].touched || cardPatientForm.controls['quantity'].dirty),
                          'is-danger': cardPatientForm.controls['quantity'].invalid && (cardPatientForm.controls['quantity'].touched || cardPatientForm.controls['quantity'].dirty)}"
                          type="number" placeholder="Quantity" formControlName="quantity"> -->
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <!-- <span
                          *ngIf="cardPatientForm.controls['quantity'].valid && (cardPatientForm.controls['quantity'].touched || cardPatientForm.controls['quantity'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['quantity'].invalid && (cardPatientForm.controls['quantity'].touched || cardPatientForm.controls['quantity'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['quantity'].invalid && (cardPatientForm.controls['quantity'].touched || cardPatientForm.controls['quantity'].dirty)"
                          class="help is-danger">
                          กรุณากรอกจำนวน
                        </span>
                      </div> -->
                      <!-- <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Quantity" formControlName="quantity">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                      </p> -->
                    <!-- </div>
                  </div>
                </div> -->

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">วิธีใช้</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left has-icons-right">
                        <!-- <textarea class="textarea" placeholder="Relate" formControlName="relate"></textarea> -->
                        <textarea class="textarea"
                          [ngClass]="{'is-success': cardPatientForm.controls['relate'].valid && (cardPatientForm.controls['relate'].touched || cardPatientForm.controls['relate'].dirty),
                        'is-danger': cardPatientForm.controls['relate'].invalid && (cardPatientForm.controls['relate'].touched || cardPatientForm.controls['relate'].dirty)}"
                          placeholder="Relate" formControlName="relate"></textarea>
                        <span
                          *ngIf="cardPatientForm.controls['relate'].invalid && (cardPatientForm.controls['relate'].touched || cardPatientForm.controls['relate'].dirty)"
                          class="help is-danger">
                          กรุณากรอกวิธีใช้
                        </span>
                      </div>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">หมายเหตุ</label>
                    </div>
                    <div class="field">
                      <div class="control is-expanded has-icons-left has-icons-right">
                        <!-- <textarea class="textarea" placeholder="Notation" formControlName="notation"></textarea> -->
                        <textarea class="textarea"
                          [ngClass]="{'is-success': cardPatientForm.controls['notation'].valid && (cardPatientForm.controls['notation'].touched || cardPatientForm.controls['notation'].dirty),
                        'is-danger': cardPatientForm.controls['notation'].invalid && (cardPatientForm.controls['notation'].touched || cardPatientForm.controls['notation'].dirty)}"
                          placeholder="Notation" formControlName="notation"></textarea>
                        <span
                          *ngIf="cardPatientForm.controls['notation'].invalid && (cardPatientForm.controls['notation'].touched || cardPatientForm.controls['notation'].dirty)"
                          class="help is-danger">
                          กรุณากรอกหมายเหตุ
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="field is-horizontal">
                  <div class="field-label"></div>
                  <div class="field-body">
                    <div class="field is-expanded">
                      <div class="field has-addons">
                        <p class="control">
                          <a class="button is-static">
                            +44
                          </a>
                        </p>
                        <p class="control is-expanded">
                          <input class="input" type="tel" placeholder="Your phone number">
                        </p>
                      </div>
                      <p class="help">Do not enter the first zero</p>
                    </div>
                  </div>
                </div> -->

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-primary" type="submit" [disabled]="cardPatientForm.invalid"
                      (click)="clickSubmit()">
                      บันทึก
                    </button>
                  </div>
                  <div class="control">
                    <button class="button is-link is-light" [disabled]="cardPatientForm.invalid"
                      (click)="clickClear()">ยกเลิก</button>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
            <div class="content">
              <p class="title">ข้อมูลยาและอุปกรณ์ทางการแพทย์</p>
              <!-- <p class="subtitle">With even more content</p> -->
              <div class="content">
                <!-- Content -->
                <app-search></app-search>
                <table class="table table is-striped table is-hoverable">
                  <thead>
                    <tr>
                      <th><abbr title="Position">รหัสยา</abbr></th>
                      <th>ชื่อยา</th>
                      <th><abbr title="Played">ผลิต | หมดอายุ</abbr></th>
                      <th>จำนวน</th>
                      <th>จัดการ</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><abbr title="Position">รหัสยา</abbr></th>
                      <th>ชื่อยา</th>
                      <th><abbr title="Played">ผลิต | หมดอายุ</abbr></th>
                      <th>จำนวน</th>
                      <th>จัดการ</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let item of apiService.tableList; let i = index;">
                      <th>{{item.Drug_ID}}</th>
                      <td>{{item.Drug_Name}}</td>
                      <td>{{item.Date}}</td>
                      <td>{{item.Relate}}</td>
                      <td></td>
                    </tr>
                    <tr *ngIf="!apiService.tableList.length">
                      <td colspan="5">No data to display.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>

    </main>
  </div>
</div>
