<app-header></app-header>
<div class="wrapper">
  <div class="">
    <app-sidebar></app-sidebar>

    <main class="main">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
          <div class="tile is-parent">
            <article [formGroup]="cardPatientForm" class="tile is-child notification is-while"
              style="color: rgba(0, 0, 0, 0.7);">
              <p class="title">เพิ่มพนักงาน (Employee) / แพทย์ (Doctor)</p>
              <p class="subtitle">กรอกข้อมูลผู้ที่ที่จะเพิ่มเข้าระบบ</p>
              <div class="content">
                <!-- Content -->
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ชื่อ</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['firstname'].valid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['lastname'].dirty),
                          'is-danger': cardPatientForm.controls['firstname'].invalid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)}"
                          type="text" placeholder="Firstname" formControlName="firstname">
                        <span
                          *ngIf="cardPatientForm.controls['firstname'].valid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['firstname'].invalid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['firstname'].invalid && (cardPatientForm.controls['firstname'].touched || cardPatientForm.controls['firstname'].dirty)"
                          class="help is-danger">
                          กรุณากรอกชื่อ
                        </span>
                      </p>
                      <!-- <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" placeholder="Name" formControlName="firstname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                      </p> -->
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">นามสกุล</label>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['lastname'].valid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty),
                          'is-danger': cardPatientForm.controls['lastname'].invalid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)}"
                          type="text" placeholder="Lastname" formControlName="lastname">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['lastname'].valid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['lastname'].invalid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['lastname'].invalid && (cardPatientForm.controls['lastname'].touched || cardPatientForm.controls['lastname'].dirty)"
                          class="help is-danger">
                          กรุณากรอกนามสกุล
                        </span>
                      </p>
                      <!-- <p class="control is-expanded has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Lastname" formControlName="lastname">
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                      </p> -->
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">เบอร์โทรศัพท์</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <!-- <input class="input" type="text" placeholder="Tel" formControlName="tel"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['tel'].valid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty),
                          'is-danger': cardPatientForm.controls['tel'].invalid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)}"
                          type="text" placeholder="Tel" formControlName="tel">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['tel'].valid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['tel'].invalid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['tel'].invalid && (cardPatientForm.controls['tel'].touched || cardPatientForm.controls['tel'].dirty)"
                          class="help is-danger">
                          กรุณากรอกเบอร์โทรศัพท์
                        </span>
                      </p>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">ตำแหน่ง</label>
                    </div>
                    <div class="field is-narrow">
                      <div class="control">
                        <div class="select is-fullwidth"
                          [ngClass]="{'is-success': cardPatientForm.controls['department'].valid && (cardPatientForm.controls['department'].touched || cardPatientForm.controls['department'].dirty),
                        'is-danger': cardPatientForm.controls['department'].invalid && (cardPatientForm.controls['department'].touched || cardPatientForm.controls['department'].dirty)}">
                          <select formControlName="department" #teams (change)="onItemSelect(teams.value)">
                            <option value="">Select dropdown</option>
                            <option value="แพทย์">แพทย์</option>
                            <option value="พนักงาน">พนักงาน</option>
                          </select>
                          <span
                            *ngIf="cardPatientForm.controls['department'].invalid && (cardPatientForm.controls['department'].touched || cardPatientForm.controls['department'].dirty)"
                            class="help is-danger">
                            กรุณากรอกตำแหน่ง
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">อัตราเงินเดือน</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control has-icons-right">
                        <!-- <input class="input" type="text" placeholder="Salary" formControlName="salary"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['salary'].valid && (cardPatientForm.controls['salary'].touched || cardPatientForm.controls['salary'].dirty),
                          'is-danger': cardPatientForm.controls['salary'].invalid && (cardPatientForm.controls['salary'].touched || cardPatientForm.controls['salary'].dirty)}"
                          type="text" placeholder="Salary" formControlName="salary">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['salary'].valid && (cardPatientForm.controls['salary'].touched || cardPatientForm.controls['salary'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['salary'].invalid && (cardPatientForm.controls['salary'].touched || cardPatientForm.controls['salary'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['salary'].invalid && (cardPatientForm.controls['salary'].touched || cardPatientForm.controls['salary'].dirty)"
                          class="help is-danger">
                          กรุณากรอกอัตราเงินเดือน
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">ที่อยู่</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded has-icons-left">
                        <!-- <textarea class="textarea" placeholder="Address" formControlName="address"></textarea> -->
                        <textarea class="textarea"
                          [ngClass]="{'is-success': cardPatientForm.controls['address'].valid && (cardPatientForm.controls['address'].touched || cardPatientForm.controls['address'].dirty),
                        'is-danger': cardPatientForm.controls['address'].invalid && (cardPatientForm.controls['address'].touched || cardPatientForm.controls['address'].dirty)}"
                          placeholder="Address" formControlName="address"></textarea>
                        <span
                          *ngIf="cardPatientForm.controls['address'].invalid && (cardPatientForm.controls['address'].touched || cardPatientForm.controls['address'].dirty)"
                          class="help is-danger">
                          กรุณากรอกที่อยู่
                        </span>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- <div class="field is-horizontal">
                  <div class="field-label"></div>
                  <div class="field-body">
                    <div class="field is-expanded">
                      <div class="field has-addons">
                        <p class="control">
                          <a class="button is-static">
                            +44
                          </a>
                        </p>
                        <p class="control is-expanded">
                          <input class="input" type="tel" placeholder="Your phone number">
                        </p>
                      </div>
                      <p class="help">Do not enter the first zero</p>
                    </div>
                  </div>
                </div> -->

                <p class="subtitle">ข้อมูลการเข้าใช้งานระบบ</p>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Username</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <!-- <input class="input" type="text" placeholder="Username" formControlName="username"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['username'].valid && (cardPatientForm.controls['username'].touched || cardPatientForm.controls['username'].dirty),
                          'is-danger': cardPatientForm.controls['username'].invalid && (cardPatientForm.controls['username'].touched || cardPatientForm.controls['username'].dirty)}"
                          type="text" placeholder="Username" formControlName="username">
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['username'].valid && (cardPatientForm.controls['username'].touched || cardPatientForm.controls['username'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['username'].invalid && (cardPatientForm.controls['username'].touched || cardPatientForm.controls['username'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['username'].invalid && (cardPatientForm.controls['username'].touched || cardPatientForm.controls['username'].dirty)"
                          class="help is-danger">
                          กรุณากรอก Username
                        </span>
                      </p>
                    </div>
                    <div class="field-label is-normal">
                      <label class="label">Password</label>
                    </div>
                    <div class="field">
                      <p class="control is-expanded has-icons-right">
                        <!-- <input class="input" type="text" placeholder="Password" formControlName="password"> -->
                        <input class="input"
                          [ngClass]="{'is-success': cardPatientForm.controls['password'].valid && (cardPatientForm.controls['password'].touched || cardPatientForm.controls['password'].dirty),
                            'is-danger': cardPatientForm.controls['password'].invalid && (cardPatientForm.controls['password'].touched || cardPatientForm.controls['password'].dirty)}"
                          type="password" placeholder="Password" formControlName="password" required>
                        <!-- <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span> -->
                        <span
                          *ngIf="cardPatientForm.controls['password'].valid && (cardPatientForm.controls['password'].touched || cardPatientForm.controls['password'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['password'].invalid && (cardPatientForm.controls['password'].touched || cardPatientForm.controls['password'].dirty)"
                          class="icon is-small is-right">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span
                          *ngIf="cardPatientForm.controls['password'].invalid && (cardPatientForm.controls['password'].touched || cardPatientForm.controls['password'].dirty && cardPatientForm.controls['password'].errors?.['required'])"
                          class="help is-danger">
                          กรุณากรอก Password
                        </span>
                        <span *ngIf="cardPatientForm.controls['password'].errors?.['minlength']" class="help is-danger">
                          กรุณากรอกอย่างน้อย 5 ตัว
                        </span>

                        <!-- <p class="control is-expanded has-icons-left has-icons-right">
                          <input class="input is-success" type="text" placeholder="Lastname" formControlName="lastname">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p> -->
                      </p>
                    </div>
                  </div>
                </div>

                <!-- <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">โรคประจำตัว</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="field is-horizontal">
                  <div class="field is-grouped">
                    <div class="control">
                      <button class="button is-primary" type="submit" [disabled]="cardPatientForm.invalid"
                        (click)="onSubmit()">
                        บันทึก
                      </button>
                    </div>
                    <div class="control">
                      <button class="button is-link is-light" [disabled]="cardPatientForm.invalid"
                        (click)="clickClear()">ยกเลิก</button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-while" style="color: rgba(0, 0, 0, 0.7);">
            <div class="content">
              <p class="title">รายชื่อผู้ดูแลเว็บไซต์</p>
              <!-- <p class="subtitle">With even more content</p> -->
              <div class="content">
                <!-- Content -->
                <app-search></app-search>
                <table class="table table is-striped table is-hoverable">
                  <thead>
                    <tr>
                      <th><abbr title="Position">รหัสผู้ดูแล</abbr></th>
                      <th>ชื่อ-สกุล</th>
                      <th><abbr title="Played">เข้าระบบล่าสุด</abbr></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><abbr title="Position">รหัสผู้ดูแล</abbr></th>
                      <th>ชื่อ-สกุล</th>
                      <th><abbr title="Played">เข้าระบบล่าสุด</abbr></th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let item of apiService.tableList; let i = index;">
                      <th>{{item.User_ID}}</th>
                      <td>{{item.User_Name}}</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr *ngIf="!apiService.tableList.length">
                      <td colspan="4">No data to display.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </article>
        </div>
      </div>

    </main>
  </div>
</div>
